esphome:
  name: techroom-esp32
  friendly_name: Techroom ESP32

esp32:
  board: esp32dev
  framework:
    type: arduino

# Verkkoyhteydet
wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password



api:
  encryption:
    key: "Fn5q3iQtHADjglb6lmV2/VsNvQwQrF5l1SX9LHsY6bM="

ota:
  - platform: esphome
    password: "3eb91a3a9a10ff28497199e6f94dd233"

logger:
  level: DEBUG

time:
  - platform: homeassistant
    id: homeassistant_time

globals:
  - id: hp_start_count
    type: int
    restore_value: true
    initial_value: "0"
  - id: hp_last_start_time
    type: uint32_t
    restore_value: false
    initial_value: "0"
  - id: hp_last_run_minutes
    type: float
    restore_value: true
    initial_value: "0.0"
  - id: hp_total_run_minutes
    type: float
    restore_value: true
    initial_value: "0.0"

one_wire:
  - platform: gpio
    pin: GPIO4

sensor:
  # Tuodaan virtausarvo HA:sta
  - platform: homeassistant
    id: ufh_flow_rate
    entity_id: input_number.hp_latauspiiri_virtaus
    internal: true

  # --- HUONEOLOSUHTEET ---
  - platform: dht
    pin: GPIO23
    model: DHT22
    temperature:
      name: "Huonelämpötila"
      id: room_temp
    humidity:
      name: "Huonekosteus"
      id: room_humidity
    update_interval: 60s

  # --- 1-WIRE ANTURIT (12 KPL) ---
  - platform: dallas_temp
    address: 0x3505473b6c100028
    name: "HP Liuos meno"
    id: brine_supply
  - platform: dallas_temp
    address: 0x7006473b1b880028
    name: "HP Liuos paluu"
    id: brine_return

  - platform: dallas_temp
    address: 0x3c05473b16280028
    name: "HP Lataus meno"
    id: heat_supply
  - platform: dallas_temp
    address: 0x2405473b6e420028
    name: "HP Lataus paluu"
    id: heat_return

  - platform: dallas_temp
    address: 0xb806473b531a0028
    name: "Varaaja ylä"
    id: tank_top
  - platform: dallas_temp
    address: 0x7105473b43050028
    name: "Varaaja keski ylä"
    id: tank_mid_high
  - platform: dallas_temp
    address: 0xe005473b310d0028
    name: "Varaaja keski ala"
    id: tank_mid_low
  - platform: dallas_temp
    address: 0xbd05473b944b0028
    name: "Varaaja ala"
    id: tank_bottom

  - platform: dallas_temp
    address: 0x0204473b539b0028
    name: "LL Päämeno"
    id: ufh_main_supply
  - platform: dallas_temp
    address: 0x813c01b5563b8028
    name: "LL Pääpaluu"
    id: ufh_main_return

  - platform: dallas_temp
    address: 0x0c00000024109828
    name: "LL Kostea meno"
    id: ufh_wet_supply
  - platform: dallas_temp
    address: 0x2d00000025449728
    name: "LL Kostea paluu"
    id: ufh_wet_return

  # --- SÄHKÖ JA LASKENTA ---
  - platform: pulse_counter
    pin: 
      number: GPIO32
      mode: INPUT_PULLUP
    name: "HP Pulssit"
    id: hp_pulses
    unit_of_measurement: "imp/min"
    update_interval: 10s
    filters:
      - debounce: 13ms

  - platform: template
    name: "HP Sähköteho"
    id: hp_power_elec
    unit_of_measurement: "kW"
    device_class: "power"
    state_class: "measurement"
    accuracy_decimals: 2
    lambda: return (id(hp_pulses).state / 400.0) * 60.0;
    filters:
      - sliding_window_moving_average:
          window_size: 6
          send_every: 1

  - platform: template
    name: "HP Tuottoteho"
    id: hp_power_thermal
    unit_of_measurement: "kW"
    device_class: "power"
    state_class: "measurement"
    accuracy_decimals: 2
    lambda: |-
      float flow = id(ufh_flow_rate).state;
      if (isnan(flow) || flow <= 0) flow = 0.7; 
      return (id(heat_supply).state - id(heat_return).state) * flow * 1.163;
    update_interval: 10s

  - platform: uptime
    name: "Heatpump Uptime"

binary_sensor:
  - platform: template
    name: "HP Käynnissä"
    id: hp_running
    device_class: "running"
    lambda: return id(hp_pulses).state > 0.5;
    on_press:
      - lambda: |-
          id(hp_start_count)++;
          id(hp_last_start_time) = millis();
    on_release:
      - lambda: |-
          float minutes = (millis() - id(hp_last_start_time)) / 60000.0;
          id(hp_last_run_minutes) = minutes;
          id(hp_total_run_minutes) += minutes;

  - platform: template
    id: hp_running_filtered
    lambda: return id(hp_pulses).state > 0.5;
    filters:
      - delayed_off: 30s

  - platform: gpio
    pin:
      number: GPIO27
      mode: INPUT_PULLDOWN
    id: tariff_active
    name: "Tariffi aktiivinen"

switch:
  - platform: gpio
    pin: GPIO25
    id: relay_1
    restore_mode: ALWAYS_OFF
    internal: true
  - platform: gpio
    pin: GPIO26
    id: relay_2
    restore_mode: ALWAYS_OFF
    internal: true

  - platform: template
    name: "Anturi 2 käytössä"
    id: sensor_2_active
    icon: "mdi:swap-horizontal"
    lambda: return id(relay_1).state;
    turn_on_action:
      - if:
          condition:
            binary_sensor.is_off: hp_running_filtered
          then:
            - delay: 500ms
            - switch.turn_on: relay_1
            - switch.turn_on: relay_2
    turn_off_action:
      - if:
          condition:
            binary_sensor.is_off: hp_running_filtered
          then:
            - delay: 500ms
            - switch.turn_off: relay_1
            - switch.turn_off: relay_2